.root {
    font-size: 1.4rem;
    position: relative;
    z-index: 5;
    clip-path: polygon(0 0, 20% 5%, 100% 0, 100% 100%, 80% 95%, 0 100%);
    background: #fafafa;
    background-attachment: fixed;
}

.root .wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem 1rem 2rem;
}

.root article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 3rem 0;
}

.root .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column-end: span 4;
}

.root .title h3 {
    font-size: 2.4rem;
}

.root .separator {
    width: 150px;
    height: 2px;
    margin: 1rem 0;
    padding: 0;
    background: #f300b4;
}

.root .subtitle {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: inherit;
}

.root p {
    line-height: 1.9rem;
    padding-bottom: 1.5rem;
    color: #555;
}

.root .desc.full {
    grid-column-end: span 4;
    margin-bottom: 2rem;
}

.root .desc {
    grid-column-end: span 2;
    padding: 2rem;
    text-align: justify;
    background: rgba(255, 255, 255, .667);
}

@media only screen and (max-width: 1149px) {
    .root article {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .root .desc.full {
        grid-column-end: -1;
    }

    .root .desc {
        grid-column-end: -1;
    }
}

@media only screen and (max-width: 949px) {
    .root {
        clip-path: polygon(0 0, 20% 2%, 100% 0, 100% 100%, 80% 98%, 0 100%);
        background-position: top left;
        background-size: cover;
    }
}

@media only screen and (max-width: 649px) {
    .root .wrapper {
        padding: 10rem 2rem 8rem;
    }
}
