.root {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    margin: 0 auto;
    background: #202736;
    background: linear-gradient(to bottom, #181d23 0%, #202736 80%);
    background-attachment: fixed;
    background-size: cover;
}

.root:before {
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    content: '';
    animation: stars-move-in 1000ms 300ms forwards;
    opacity: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
    background-attachment: fixed;
}

@keyframes stars-move-in {
    from {
        background-position-y: -100px;
    }

    to {
        opacity: 1;
        background-position-y: 0;
    }
}

.forest {
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    height: 80%;
    animation: forest-move-in 1000ms 500ms forwards;
    opacity: 0;
    border-bottom: 300px solid #181d23;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Trees.svg?sanitize=true) bottom left repeat-x;
    background-size: cover;
}

@keyframes forest-move-in {
    from {
        background-position-y: 150%;
    }

    to {
        opacity: 1;
        background-position-y: 100%;
    }
}

.silhouette {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    animation: silhouette-move-in 1000ms 800ms forwards;
    opacity: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Silhouette.svg?sanitize=true) bottom left no-repeat;
}

@keyframes silhouette-move-in {
    from {
        background-position-x: 0;
    }

    to {
        opacity: 1;
        background-position-x: 50%;
    }
}

.moon {
    position: absolute;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: moon-move-in 1.2s 1s forwards;
    opacity: 0;
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Moon.svg?sanitize=true) right 150% no-repeat;
    background-attachment: fixed;
    background-size: 30% 30%;
}

@keyframes moon-move-in {
    from {
        opacity: 0;
        background-position: right 150%;
    }

    to {
        opacity: 1;
        background-position: top right;
    }
}

.container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 55%;
    width: fit-content;
    transform: translate(-50%, -50%);
    animation: text-fade-in 1000ms 800ms forwards;
    opacity: 0;
}

@keyframes text-fade-in {
    from {
        right: 0;
    }

    to {
        right: 25%;
        opacity: 1;
    }
}

.container h1 {
    font-size: 65px;
    font-weight: normal;
    font-style: italic;
    line-height: 65px;
    color: #fafafa;
}

.container p {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 24px;
    color: #fafafa;
}

@media only screen and (max-width: 649px) {
    .container {
        top: 10%;
        right: 50%;
        width: 80%;
        transform: translate(50%, 0);
        animation: text-fade-in 1000ms 800ms forwards;
    }

    @keyframes text-fade-in {
        from {
            right: 0;
        }

        to {
            right: 50%;
            opacity: 1;
        }
    }

    .silhouette {
        width: 100%;
    }
}
