*,
*::before,
*::after,
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html,
body {
    height: 100%;
}

body {
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    color: #252934;
    background: #fafafa;
}

a,
a:visited {
    font-size: 1.4rem;
    transition: 200ms;
    text-decoration: none;
    color: #252934;
}

a:hover,
a:active {
    color: #f300b4;
}
